<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="css/site.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://tonejs.github.io/build/Tone.min.js"></script>
    <script src="js/site.js"></script>
</head>
<body>
    <div id=master>
        <div id=sidebar>
            <div style="background-color:#ececec">
                <h2 style="margin:0;">Rooms</h2>
            </div>
            <div id=roomsList>
                
            </div>
            <div id=createRoomBtn>Create Room</div>
        </div>
        <div id=messageMaster>
            <div id=logOutBtn>Log Out</div>
            <h1 id=roomHeader>Global</h1>
            <div class=accentLine id=accentLine></div>
            <div id=messageArea>
                
            </div>
            <div style="display:flex; height:30px; line-height:30px;">
                <input type=text id=messageInput style="flex:8;">
                <div id=sendBtn style="flex:1;">Send</div>
            </div>
        </div>
        <div id=notifyDiv>
            <div id=notifyBtn>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/150551/bell.png" alt="Notifications" height="30" width="30">
                <span id=notifyDot></span>
            </div>
            <div id=notifyList>
                
            </div>
        </div>
    </div>
    <div id=createRoomDiv class=popup>
        <h3 style="margin:15px">Create Room</h3><span id=createRoomCancel>x</span>
        <input type=text id=createRoomNameInput placeholder="Name" maxlength="25">
        <br>
        <hr>
        <button id=createRoomSubmitBtn class=myBtn>Create</button>
    </div>
    <div id=loginDiv class=popup>
        <div id=loginErrorMsg></div>
        <h2 style="margin:15px;">Welcome</h2>
        <input type=text id=usernameInput placeholder="Username">
        <br>
        <input type=password id=passwordInput placeholder="Password">
        <br>
        <hr>
        <button id=loginBtn class=myBtn>Login</button>
        <span style="color:grey; font-size:10px;">or</span>
        <button id=createUserBtn class=myBtn>Create</button>
    </div>
</body>
</html>