@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id=sidebar>
    <div style="background-color:#e6e6e6">
        <h2 style="margin:0;">Rooms</h2>
    </div>
    <div id=roomsList>
        <div class=room>
            <div class=accentLine></div>
            <div class=roomName>Global</div>
        </div>
        <!-- <div class=room>
            <div class=accentLine style="background-color:#e18efa"></div>
            <div class=roomName>Random</div>
        </div>
        <div class=room>
            <div class=accentLine style="background-color:#fab580"></div>
            <div class=roomName>C# Development</div>
        </div>
        <div class=room>
            <div class=accentLine style="background-color:#fa8e8e"></div>
            <div class=roomName>Java Hate Group</div>
        </div> -->
    </div>
    <div id=createRoomBtn>Create Room</div>
</div>